# 범주형 변수 처리
* 범주형 변수 :
    * 몇 개의 부류나 범위, 서열 등으로 구분하여 수집된 변수로 질적 변수라고도 불림
    * 주로 문자열 데이터로 DataFrame에서 object나 category 형으로 저장
    * 숫자 값인 경우 수학적 의미는 가지지 않기 때문에 덧셈과 같은 수학적 연산의 개념을 적용할 수 없다
</br></br>
* 더미 변수 :
    * 범주형 변수에 있는 범주 각각을 컬럼으로 변경
    * 원본 컬럼의 값이 해당 범주에 속하는 지 여부에 따라 0 or 1 로 채운 변수
    * 수학적 연산이 불가능한 범주형 변수를 True/False 형식의 숫자로 변경하여 수학적 연산을 가능하게 한다.

* pd.get_dummies(data, columns = ['범주형1', '범주형2'])

In [1]:
import pandas as pd
from sklearn.datasets import load_iris

In [3]:
iris = load_iris()
iris = pd.DataFrame(iris.data, columns=iris.feature_names)
iris['Class'] = load_iris().target
iris['Class'] = iris['Class'].map({0:'Setosa', 1:'Versicolour', 2:'Virginica'})
iris

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Class
0,5.1,3.5,1.4,0.2,Setosa
1,4.9,3.0,1.4,0.2,Setosa
2,4.7,3.2,1.3,0.2,Setosa
3,4.6,3.1,1.5,0.2,Setosa
4,5.0,3.6,1.4,0.2,Setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Virginica
146,6.3,2.5,5.0,1.9,Virginica
147,6.5,3.0,5.2,2.0,Virginica
148,6.2,3.4,5.4,2.3,Virginica
149,5.9,3.0,5.1,1.8,Virginica

In [4]:
iris_dummy = pd.get_dummies(iris, columns = ['Class'])
iris_dummy

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Class_Setosa,Class_Versicolour,Class_Virginica
0,5.1,3.5,1.4,0.2,True,False,False
1,4.9,3.0,1.4,0.2,True,False,False
2,4.7,3.2,1.3,0.2,True,False,False
3,4.6,3.1,1.5,0.2,True,False,False
4,5.0,3.6,1.4,0.2,True,False,False
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,False,False,True
146,6.3,2.5,5.0,1.9,False,False,True
147,6.5,3.0,5.2,2.0,False,False,True
148,6.2,3.4,5.4,2.3,False,False,True
149,5.9,3.0,5.1,1.8,False,False,True